* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    /* border: 2px solid black; */
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0px 5px #F5F5F6;
}

#container {
    display: flex;

}

/* Logo part */
#logo {

    display: inline-block;
    width: 106px;
    height: 80px;

}

#logo img {
    width: 53px;
    height: 36px;
    margin: 20px 0px 0px 53.5px;
}

/* Navbar part */
ul {
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

sup {
    color: red;
    padding-left: 4px;
}

#nav_content1 {
    width: 62.41px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#men {
    letter-spacing: .3px;
    width: 62.41px;
    height: 42px;
    padding: 10px 17px 28px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
}


#men li {
    width: 62.41px;
    height: 21px;
       
}

#nav_content2 {
    width: 83.83px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#women {
    letter-spacing: .3px;
    width: 83.83px;
    height: 46px;
    padding: 10px 17px 28px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#men li {
    width: 83.83px;
    height: 21px;
}

#nav_content3 {
    width: 64.44px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#kids {
    letter-spacing: .3px;
    width: 64.44px;
    height: 46px;
    padding: 10px 17px 28px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#kids li {
    width: 64.44px;
    height: 21px;
}

#nav_content4 {
    width: 131.16px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#homeandliving {
    letter-spacing: .3px;
    width: 131.16px;
    height: 46px;
    padding: 10px 17px 28px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#homeandliving li {
    width: 131.16px;
    height: 21px;
}

#nav_content5 {
    width: 83.67px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#beauty {
    letter-spacing: .3px;
    width: 83.67px;
    height: 46px;
    padding: 10px 17px 28px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#beauty li {
    width: 83.67px;
    height: 21px;
}

#nav_content6 {
    width: 82.78px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#studio {
    letter-spacing: .3px;
    width: 82.78px;
    height: 46px;
    padding: 7px 17px 28px;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#studio li {
    width: 82.78px;
    height: 21px;
}

/* Search bar part */
/* #search_container{
    border-radius: 10px;
    width: 366px;
    height: 40px;
    border-radius: 20px;
} */

#search_box {
    width: 366px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F6;
    margin: 20px 0px 5px 100px;
    border: 2px solid #F5F5F6;

}

#search_box span {
    width: 41px;
    height: 40px;
    padding: 5px 0px 2px 10px;
    border: 1px solid #F5F5F6;
    background-color: #F5F5F6;
    font-size: 5px;

}

#search_box input {
    width: 325px;
    height: 40px;
    padding: 5px 5px 5px;
    border: none;
    color: #F5F5F6;
    border: 1px solid #F5F5F6;
    background-color: #F5F5F6;

}

#search_box img {
    font-size: 5px;
}

/* Right side user wishlist and bag part */
#desktop_action {
    width: 194px;
    height: 40px;
    margin: 15px 0px 0px 60px;
    display: flex;
    justify-content: space-between;
}

#user_icon_container {
    width: 29px;
    height: 40px;
    padding: 0px 12px 0px 10px;
    display: flex;
    flex-direction: column;
}

#header_user {
    width: 24px;
    height: 24px;
    padding: 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#header_user img {
    width: 20px;
}

#user_title {
    width: 35.06px;
    height: 16px;
    padding: 8px 0px 0px 0px;
    font-size: 11px;
    font-weight: bold;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#desktop_icon_wishlist {
    width: 29px;
    height: 40px;
    padding: 0px 12px 0px 10px;
    cursor: pointer;
}

#header_wishlist {
    width: 17px;
    height: 22px;
    padding: 8px 0px 0px 5px;
}

#header_wishlist img {
    width: 20px;
}

#wishlist_title {
    width: 41.34px;
    height: 16px;
    padding: 10px 0px 0px 0px;
    font-size: 11px;
    font-weight: bold;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}

#desktop_icon_bag {
    width: 29px;
    height: 40px;
    padding: 0px 12px 0px 10px;
    cursor: pointer;
}

#header_bag {
    width: 22px;
    height: 22px;
    padding: 6px 0px 0px;
}

#header_bag img {
    width: 20px;
}

#bag_title {
    width: 19.89px;
    height: 16px;
    padding: 10px 0px 0px 0px;
    font-size: 11px;
    font-weight: bold;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#main_first{
    width: 100%;
    height: 450px;
}
#main_first img{
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
}
#media1 h2{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 5px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
 /* Bag container part */
 #bag1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
            
}
.bag_upper{
    width: 265px;

}
#bag1 img{
    width: 100%;

}
/* 2nd Bag container part */
#media2 h2{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 5px 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#bag2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
            
}
.bag_below{
    width: 270px;

}
#bag2 img{
    width: 100%;

}

/* Footer part */
#lower_outer{
    width: 100%;
    display: flex;
    justify-content: center;
}
#lower_part{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.lower{
    /* flex-basis: 31%; */
    /* margin: 100px; */
    display: flex;
    flex-direction: column;
    margin: 5px 150px;
    /* border: 2px solid black; */
    
}
.lower ul{
    display: flex;
    flex-direction: column;
}
.lower ul li{
    padding:5px;
    list-style: none;
    color:rgb(163, 163, 248);
}

.lower h2{
    padding: 3px;
    color: blue;
    font-size: 12px;
    font-weight: bold;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#copywrite h3{
    font-weight: bold;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    text-align: right;
    font-size: 12px;
    color:rgb(163, 163, 248);
    margin: 5px 20px;
}